/* About */
#about {
    background: #ffffff;
    color: #000000;
}
 

#about #buy-now-btn {
    background: #B80D22;
    margin: 5px 30px;
}

#about .container h2 {
    background: #ffffff;
    background-color: #ffffff;
    color: #000000;
}

#about .container h2::after {
    background: linear-gradient(to right, #B80D22 0%, #B80D22 100%) !important;
}

#about .container ul {
    list-style: none !;
}

#about .container ul li {
    margin: 10px 0; 
}

#about .container ul li.legacy::before {
    content: '🎓';
    padding-right: 20px; 
}

#about .container ul li.education::before {
    content: '📚';
    padding-right: 20px;
}

#about .container ul li.inclusion::before {
    content: '✨';
    padding-right: 20px;
}

#about .container ul li.patriotism::before {
    content: '🇺🇸';
    padding-right: 20px;
}

#about .container ul li.community::before {
    content: '🤝';
    padding-right: 20px;
}

/* Features */
.fa {
    background: #B80D22 !important;
}

#features {
    margin: 20px;
}

#features, 
#features .feature-container h2, 
#features .feature-container h3 {
    background: #ffffff;
    color: #000000;
}

#features .feature-container {
    display: flex;
    justify-content: center;
}

#features .feature-container h2::after{
    background: linear-gradient(to right, #B80D22 0%, #B80D22 100%) !important;
}
/* Navigation */
.navbar {
    background-color: #000000cc !important;
}

nav div div ul li a,
.navbar-link {
    color: #ffffff !important;
}

nav > div > div > ul > li > a:hover,
.navbar-link:hover {
    font-weight: bold !important;
}

#menu.navbar-default .navbar-nav > li > a:after {
  background: linear-gradient(to right, #B80D22 0%, #B80D22 100%) !important;
}

/* Contact */
#footer {
    background: #B80D22;
    padding-bottom: 10px;
}

#footer h3 {
    color: #FFD700;
}

#footer div {
    background: #B80D22;
    padding: 0 10px;
}

#footer a {
    color: #ffffff;
    padding: 0;
}

#footer p {
    color: #ffffff !important;
    padding: 0;
}

/* Header */
#header-container a {
    background: #B80D22 !important;
}

#header-container {
    background-color: #000000cc;
    padding: 20px 0 !important;
}

#header .intro {
  background-image: url('../public/img/intro-bg.jpg');
  background-size: auto 100%;    /* shrink to fit */
  background-position: bottom;
  background-repeat: repeat-y;
  background-color: #B80D22;
  background-image: fixed;
  width: 100%;
}

/* Other */

#buy-now-btn {
    background: #B80D22;
}