#header-container {
    background-color: #000000cc;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 30px;
    padding-left: 30px;
}

.navbar {
    background-color: #000000cc !important;
}

nav div div ul li a,
.navbar-link {
    color: white !important;
}

