/* About */
#about, 
#about .container h2 {
    background: #000000;
    background-color: #000000;
    color: #ffffff;
}

#about .container h2::after {
    background: linear-gradient(to right, #B80D22 0%, #B80D22 100%) !important;
}

#about .container ul {
    list-style: none !;
}

#about .container ul li {
    margin: 10px 0; 
}

#about .container ul li.legacy::before {
    content: '🎓';
    padding-right: 20px; 
}

#about .container ul li.education::before {
    content: '📚';
    padding-right: 20px;
}

#about .container ul li.inclusion::before {
    content: '✨';
    padding-right: 20px;
}

#about .container ul li.patriotism::before {
    content: '🇺🇸';
    padding-right: 20px;
}

#about .container ul li.community::before {
    content: '🤝';
    padding-right: 20px;
}

/* Features */
.fa {
    background: #B80D22 !important;
}

#features, 
#features .feature-container h2, 
#features .feature-container h3 {
    background-color: #ffffff;
    color: #000000;
}

#features .feature-icons {
    background: black;
}

#features .feature-container {
    display: flex;
    justify-content: center;
}

#features .feature-container h2::after{
    background: linear-gradient(to right, #B80D22 0%, #B80D22 100%) !important;
}
/* Navigation */
.navbar {
    background-color: #000000cc !important;
}

nav div div ul li a,
.navbar-link {
    color: #ffffff !important;
}

nav > div > div > ul > li > a:hover,
.navbar-link:hover {
    font-weight: bold !important;
}

#menu.navbar-default .navbar-nav > li > a:after {
  background: linear-gradient(to right, #B80D22 0%, #B80D22 100%) !important;
}

/* Contact */

#footer {
    background: #B80D22;
}
#footer div {
    background: #B80D22;
}

#footer p {
    color: #ffffff !important;
}
/* Header */

#header-container a {
    background: #B80D22 !important;
}

#header-container {
    background-color: #000000cc;
    padding: 20px 0 !important;
}

#header .intro {
  background-image: url('../public/img/intro-bg.jpg');
  background-size: contain;    /* shrink to fit */
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffffff;
  height: 100vh;
  width: 100%;
}