/* Features */
.fa {
    background: #B80D22 !important;
}

#features, 
#features .feature-container h2, 
#features .feature-container h3 {
    background-color: #000000;
    color: white;
}

/* #features .feature-container {
    padding: 20px 0; 
} */

#features .feature-container h2::after{
    background: linear-gradient(to right, #B80D22 0%, #B80D22 100%) !important;
}
/* Navigation */
.navbar {
    background-color: #000000cc !important;
}

nav div div ul li a,
.navbar-link {
    color: white !important;
}

nav > div > div > ul > li > a:hover,
.navbar-link:hover {
    font-weight: bold !important;
}

#menu.navbar-default .navbar-nav > li > a:after {
  background: linear-gradient(to right, #B80D22 0%, #B80D22 100%) !important;
}

/* Contact */

#contact-container div {
    background: #B80D22 !important;
}

/* Header */

#header-container a {
    background: #B80D22 !important;
}

#header-container {
    background-color: #000000cc;
    padding: 20px 0 !important;
}

#header .intro {
  background-image: url('../public/img/intro-bg.jpg');
  background-size: contain;    /* shrink to fit */
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000000;
  height: 100vh;
  width: 100%;
}